/* fonts */
@font-face {
    font-family: 'angelica';
    src: url('assets/fonts/angelica.ttf');
}

.font-angelica{
    font-family:'angelica';
}

#home-page{
    background-color:rgba(208, 147, 177, 0.273);
    align-items:center;
}
.title-spacing{
    letter-spacing:6px;
}
.name-title{

    color:rgb(181, 1, 85);

}

.freeform-curve {
  width: 1000px;
  height: 250px;
  background: #86aecf;
  border-radius: 60% 50% 30% 100% / 60% 30% 70% 40%;


}
